<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ape</title>
  </head>
  <body>
    <div class="indexes">
      <h1>Top 10 Traded Stock Indices</h1>
      <table>
        <tr><td>NASDAQ-100</td></tr>
        <tr><td>S&P 500</td></tr>
        <tr><td>Hang Seng Index</td></tr>
        <tr><td>FTSE 100</td></tr>
        <tr><td>Dow Jones Industrail Average</td></tr>
        <tr><td>DAX 30</td></tr>
        <tr><td>Russell 2000</td></tr>
        <tr><td>CAC 40</td></tr>
        <tr><td>Euro STOXX 50</td></tr>
        <tr><td>Bovespa Index - Ibovespa</td></tr>
      </table>
    </div>
    <div class="commodities">
      <h1>Top 10 Traded Commodities</h1>
      <table>
        <tr><td>Crude Oil</td></tr>
        <tr><td>Natural Gas</td></tr>
        <tr><td>Gold</td></tr>
        <tr><td>Silver</td></tr>
        <tr><td>Copper</td></tr>
        <tr><td>Steel</td></tr>
        <tr><td>Iron Ore</td></tr>
        <tr><td>Corn</td></tr>
        <tr><td>Coffee</td></tr>
        <tr><td>Soybeans</td></tr>
      </table>
    </div>
    <div class="others">
      <h1>Others</h1>
      <table>
        <tr><td>Bitcoin</td></tr>
        <tr><td>Ethereum</td></tr>
      </table>
    </div>
  </body>
</html>
